@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #3177e8;
  --backgroundTwo: #75a3ee;
  --foreground: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  position: relative; 
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/images/golden-glow-of-solar-system-n8x5gbmv5m9vom2b.jpg'); 
  background-size: cover;
  background-position: center;
  opacity: 0.25; 
  z-index: -1; 
  pointer-events: none; 
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 48px; /* Smaller size for mobile */
  text-align: center;
  position: relative;
}

h1::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  height: 5px;
  background: yellow;
  width: 0;
  transition: width 0.5s ease;
}

h1.animate-underline::after {
  width: 100%;
}

h2 {
  margin: 0;
}

p {
  margin-top: 8px;
}

h3 {
  font-size: 18px;
  margin: 0;
}

:active nav {
  color: #fff;
}

/* Responsive adjustments */
@media (min-width: 640px) {
  h1 {
    font-size: 60px; /* Larger size for screens >= 640px */
  }

  h2 {
    font-size: 24px;
  }

  p {
    font-size: 18px;
  }
}

/* Video Styling */
video {
  width: 100%;
  max-width: 1000px;
  height: auto;
  display: block;
  margin: 0 auto;
}
